<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form method="post" action="/add/noticia">
			<input type="text" name="newsTitle" placeholder="Adicione o título da noticia">
			<textarea name="newsName" cols="30" rows="10"></textarea>
			<button>Enviar</button>
		</form>

	</body>
</html>