<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de notícias</title>
		</head>
	<body>

		<h1><% noticia.titulo %></h1>
		<p>
			<% noticia.noticia %>
		</p>
	</body>
</html>